<table>
  <tr>
    <td class="userflow_td3">ユーザー<br />登録</td>
    <td class="userflow_td2">></td>
    <td class="userflow_td3">ユーザー<br />登録確認</td>
    <td class="userflow_td2">></td>
    <td class="userflow_td3">ユーザー<br />登録完了</td>
    <td class="userflow_td2">></td>
    <td class="userflow_td3">受信者<br />登録</td>
    <td class="userflow_td2">></td>
    <td class="userflow_td3">受信者<br />登録確認</td>
    <td class="userflow_td2">></td>
    <td class="userflow_td1">受信者<br />登録完了</td>
  </tr>
</table>
<h1>受信者登録完了</h1>
<%= render :partial => "/share/user/user_info", :locals => {:user => @user} %>
<br />
<%= render :partial => "/org/useradmin/recipients/recipient_list", :locals => {:user => @user} %>

<br /><br />
<% form_tag(after_detail_org_useradmin_users_path) do %>
  <%= hidden_field_tag :user_id, @user.id %>
  <%= hidden_field_tag :user_number, @user.number %>
  <span style="float: left;margin-right: 30px;">
    <span style="float: left;">
      <%= submit_tag '続けて受信者登録をする', :name => 'recipient_add' %>
    </span>
  </span>
<% end %>

<%= button_to "ユーザー検索に戻る", search_org_useradmin_users_path, :class => 'float-left' %>

