<h1>運用<%= @organization.valid_date > Date.today ? "停止" : "再開" %></h1>
<%= link_to "団体一覧に戻る", org_list_org_organizations_path %>
<br /><br />
<table class="organize">
  <tr>
    <th>団体名</th>
    <td><%= @organization.name -%></td>
  </tr>
  <tr>
    <th>使用目的</th>
    <td><pre><%= @organization.purpose %></pre></td>
  </tr>
  <tr>
    <th>代表者名</th>
    <td><%= @organization.leader_name %></td>
  </tr>
  <tr>
    <th>フリガナ</th>
    <td><%= @organization.kana %></td>
  </tr>
  <tr>
    <th>性別</th>
    <td><%= @organization.leader_sex? unless @organization.sex.nil? %></td>
  </tr>
  <tr>
    <th>郵便番号</th>
    <td><%= @organization.zip %></td>
  </tr>
  <tr>
    <th>都道府県</th>
    <td><%= @organization.prefecture %></td>
  </tr>
  <tr>
    <th>住所1</th>
    <td><%= @organization.address1 %></td>
  </tr>
  <tr>
    <th>住所2</th>
    <td><%= @organization.address2 %> </td>
  </tr>
  <tr>
    <th>TEL</th>
    <td><%= @organization.tel %></td>
  </tr>
  <tr>
    <th>FAX</th>
    <td><%= @organization.fax %></td>
  </tr>
  <tr>
    <th>メールアドレス</th>
    <td><%= @organization.email %></td>
  </tr>
</table>
<br />
有効期限：
<%= @organization.valid_date.strftime("%Y/%m/%d %H:%M") %>
<br /><br />
<% form_tag(sadmin_stop_or_restart_org_organizations_path) do %>
  <%= hidden_field_tag :id, @organization.id %>
  <% if @organization.valid_date > Date.today %>
    <%= submit_tag '運用停止する', :confirm => '本当に運用停止していいですか？', :class=>'float-right', :name => 'stop' %>
  <% else %>
    運用再開した場合の有効年月日：<%= date_select(:date, :va_date, {:default => Date.today + 31}) %>
    <br /><br />
    <%= submit_tag '運用再開する', :confirm => '本当に運用再開していいですか？', :class => 'float-right', :name => 'restart' %>
  <% end %>
<% end %>
