<table>
  <tr>
    <td class="userflow_td3">ユーザー<br /><%= @user.new_record? ? "登録" : "編集" %></td>
    <td class="userflow_td2">></td>
    <td class="userflow_td1">ユーザー<br /><%= @user.new_record? ? "登録" : "編集" %>確認</td>
    <td class="userflow_td2">></td>
    <td class="userflow_td3">ユーザー<br /><%= @user.new_record? ? "登録" : "編集" %>完了</td>
    <td class="userflow_td2">></td>
    <td class="userflow_td3">受信者<br />登録</td>
    <td class="userflow_td2">></td>
    <td class="userflow_td3">受信者<br />登録確認</td>
    <td class="userflow_td2">></td>
    <td class="userflow_td3">受信者<br />登録完了</td>
  </tr>
</table>
<% form_for(@user, :url => confirmation_params[:url], :html => {:method => confirmation_params[:method]}) do |f| %>
  <h1>ユーザー登録確認</h1>
  <%= f.error_messages.untaint %><br />
  <%= f.submit "戻る", :name => "cancel"  %>
  <br /><br />
  <%= render :partial => "/share/user/user_confirmation", :locals => {:user => @user} %>
  <br />
  <%= f.hidden_field :organization_id %>
  <%= f.hidden_field :number %>
  <%= f.hidden_field :name %>
  <%= f.hidden_field :memo %>
  <br />
  <%= f.submit "保存" %>
<% end %>

