<table>
  <tr>
    <td class="userflow_td3">ユーザー<br />登録</td>
    <td class="userflow_td2">></td>
    <td class="userflow_td3">ユーザー<br />登録確認</td>
    <td class="userflow_td2">></td>
    <td class="userflow_td1">ユーザー<br />登録完了</td>
    <td class="userflow_td2">></td>
    <td class="userflow_td3">受信者<br />登録</td>
    <td class="userflow_td2">></td>
    <td class="userflow_td3">受信者<br />登録確認</td>
    <td class="userflow_td2">></td>
    <td class="userflow_td3">受信者<br />登録完了</td>
  </tr>
</table>
<h1>ユーザー登録完了</h1>
<%= render :partial => "/share/user/user_complete", :locals => {:user => @user} %>
<br /><br />
<% form_tag(after_detail_org_useradmin_users_path) do %>
  <%= hidden_field_tag :user_id, @user.id %>
  <span style="float: left;">
    <span style="float: left;">
      <%= submit_tag '受信者登録', :name => 'recipient_add' %>
    </span>
    <span style="float: left; margin-left:250px;">
      <%= submit_tag 'ユーザー編集', :name => 'user_edit' %>
    </span>
  </span>
<% end %>
<% form_tag(delete_org_useradmin_users_path) do %>
  <%= hidden_field_tag :user_id, @user.id %>
  <span style="float: left; margin-left:20px;">
    <%= submit_tag 'ユーザー削除', :confirm=>'ユーザーを削除しますとその受信者も削除されます。ユーザーを削除していいですか？' %>
  </span>
<% end %>
<br /><br />
<% if @user.recipients.present? %>
  <%= render :partial => "/org/useradmin/recipients/recipient_list", :locals => {:user => @user} %>
<% end %>


